apiVersion: v1
kind: Secret
metadata:
  name: identityservice-secret
  namespace: identityservice
type: Opaque
stringData:
  ConnectionStrings__DefaultConnection: "Host=${DB_HOST};Port=${DB_PORT};Database=${DB_NAME};Username=${DB_USER};Password=${DB_PASSWORD}"
  ConnectionStrings__PostgreSql: "Host=${DB_HOST};Database=${DB_NAME};Username=${DB_USER};Password=${DB_PASSWORD};Port=${DB_PORT}"
  Jwt__Key: "${JWT_KEY}"
  RabbitMq__Host: "${RABBITMQ_HOST}"
  RabbitMq__Port: "${RABBITMQ_PORT}"
  RabbitMq__Username: "${RABBITMQ_USER}"
  RabbitMq__Password: "${RABBITMQ_PASSWORD}"
  RabbitMq__VirtualHost: "${RABBITMQ_VHOST:-/}"
  AWS__AccessKey: "${KEY_ID}"
  AWS__SecretKey: "${KEY_SECRET}"
  AWS__SessionToken: "${KEY_TOKEN}"
---
apiVersion: v1
kind: Secret
metadata:
  name: database-config
  namespace: identityservice
type: Opaque
stringData:
  DB_HOST: "postgres"
  DB_PORT: "5432"
  DB_USER: "${DB_USER}"
  DB_PASSWORD: "${DB_PASSWORD}"
  DB_NAME: "${DB_NAME}"
