apiVersion: v1
kind: Secret
metadata:
  name: identityservice-secret
  namespace: identityservice
type: Opaque
stringData:
  ConnectionStrings__PostgreSql: "Host=${DB_HOST};Database=${DB_NAME};Username=${DB_USER};Password=${DB_PASSWORD};Port=${DB_PORT}"
  Jwt__Key: "${JWT_KEY}"
  AWS__AccessKey: "${KEY_ID}"
  AWS__SecretKey: "${KEY_SECRET}"
  AWS__SessionToken: "${KEY_TOKEN}"
